VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_mxDip2QNciHeFkFXJeeH5g_mqn63OgZ"
VITE_SUPABASE_URL="https://klpiwihyemfptbiyysna.supabase.co"
VITE_APP_BRAND=
VITE_APP_DOMAIN=
VITE_APP_LOGO_URL=
VITE_SUPPORT_EMAIL=
VITE_SUPPORT_PHONE=
VITE_SUPPORT_PHONE_LABEL=
VITE_LOGIN_EMAIL_DOMAINS=
VITE_BUILD_ID=
